@import "./src/progressBar.css";

* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

#root {
    margin: 10% auto;
}

@media screen and (max-height: 450px) {
    #root {
        margin: 2% auto;
    }
}