:root {
    --progress-none-color: #e5e3e3;
    --progress-active-color: #0135CE;
    --white-color: #fff;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.progress-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px;
    height: 100%;
}

.progress-circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 10px solid var(--progress-none-color);
    transition-property: opacity;
    transition-duration: 0.3s; 
}

.progress-tools {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.progress-value,
.progress-animate,
.progress-hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.progress-value__input {
    width: 66px;
    height: 39px;
    border-radius: 20px;
    border: 1px dashed var(--progress-active-color);
    text-align: center;
    font-size: 16px;
}

.hidden {
    display: none;
}

.Toggle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.toogle-checkbox {
    width: 66px;
    height: 39px;
    border: 1px solid var(--progress-active-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: var(--progress-none-color);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.toogle-checkbox::before {
    content: "";
    border-radius: 100%;
    width: 30px;
    background-color: var(--white-color);
    height: 30px;
    z-index: 2;
    position: absolute;
    left: 5px;
} 

.active{
    background-color: var(--progress-active-color);
    transition: 0.3s;
}

.toogle-checkbox.active {
    
}

.active::before {
    transform: translate(80%);
} 